#v-nav {
    background-color: #1c3b94;
}

html {
    background-color: #191b1c;
}

#v-nav a, #v-nav-burger-container, .v-nav-link span, #v-nav b, #main-content-container, #h-nav, #h-nav-notification i{
    color: #FFFFFF;
}

#h-nav, #crypto-list {
    background-color: #1C1E20;
}

#h-nav-notification {
    color: #1b1b1b;
}

#pfp-dropdown, #notification-dropdown, .popup {
    background-color: #eeeeee;
}

#main-content-container {
    background-color: #191b1c;
}

#not-logged-in-card {
    background-color: #f8f8f8;
}

#pfp-dropdown, #notification-dropdown {
    color: #1b1b1b;
}

.close-btn {
    background-color: #1c3b94;
    color: #FFFFFF;
}

.crypto-list-item:hover {
    background-color: #1E2022;
}


#connect-coinbase-error {
    border: 1.5px solid #f44336;
    background-color: #2A2C36;
    color: #E0E0E0;

}

.error-message {
    color: #FF6B6B;
}

.settings-link {
    color: #4D9FFF;
    background-color: #1A1C23;
}

.settings-link:hover {
    background-color: #357ABD;
    color: #FFFFFF;
}

@media screen and (max-width: 868px) {
        #mobile-nav {
        background-color: #1c3b94;
    }

    #mobile-nav i{
        color: #FFFFFF;
    }

    .mobile-nav-button-container span {
        color: #FFFFFF;
    }
}


.list-group-item.active {
        background-color: #1c3b94;
        color: white;
        border-color: #1c3b94;
    }
.btn-primary:hover {
        background-color: #1c3b94;
    }

.btn-primary {
        background-color: #1c3b94;
        color: #e9e9e9;
    }


.list-group-item {
        background-color: #1C1E20;
        border: 1px solid #1C1E20;
    }


.form-section, .trades-section {
        color: #e9e9e9;
        background-color: #1C1E20;
    }


.form-checkbox-group input[type="checkbox"]:checked::before {
        background-color: #1c3b94;
    }

.form-group input, .form-group select{
    background-color: #f8f8f8;
    border: 0;
}