{% extends "base.html" %}

{% block content %}
    {% if profile.coinbase_connected %}
        <p><strong>Account Name:</strong> {{ account_name }}</p>
        <p><strong>Eth Balance</strong> {{ eth_balance }}</p>
    {% else %}
        Please go to your Profile and connect your coinbase account
    {% endif %}
    <p>Content</p><br><p>Content</p><br><p>Content</p><br><p>Content</p><br><p>Content</p><br><p>Content</p><br><p>Content</p><br>
    <p>Content</p><br><p>Content</p><br><p>Content</p><br><p>Content</p><br><p>Content</p><br><p>Content</p><br><p>Content</p><br>
    <p>Content</p><br><p>Content</p><br><p>Content</p><br><p>Content</p><br><p>Content</p><br><p>Content</p><br><p>Content</p><br>
{% endblock %}