.horizontal-container {
    display: flex;
    align-items: center;
}

.inline-hr {
    flex-grow: 1;
    margin: 0 10px;
    border-top: 1px solid black;
}

.inline-text {
    margin: 0 5px;
    font-style: italic;
}
